* {
    box-sizing: border-box;
    color: #DADADA;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    position: relative;
    background: #363636;
}

main {
    background-color: #1e1e1e;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.background  {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    transition: all .1s ease-in-out;
    pointer-events: none;
}
.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0rem;
    left: 0rem;
    height: 100vh;
    width: 100vw;
}

.question-box {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

h1 {
    text-align: center;
    padding: 20px;}

.question-image {
    height: 400px;
    object-fit: cover;
    padding: 10px;
    margin-left: auto;
    margin-right: auto ;
    border-radius: 15px;
    pointer-events: none;
    user-select: none;
}

button {
	border: none;
	padding: 10px;
    margin: 10px;
    min-width: 300px;
	font: inherit;
    cursor: pointer;
    background-color: #262626;
    border-radius: 10px;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}