*  {
    box-sizing: border-box;
    background-color: #1e1e1e;
    color: #e1e1e1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

h3 {
    padding-left: 10px;
    font-size: 1rem;
}

.ok, .error {
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
}

.ok {
    background-color: rgba(0, 255, 100, .2);
}

.error {
    background-color: rgba(255, 0, 0, .2);
}