.create-header {
    background-color: var(--first-color);

    position: fixed;
    display: flex;
    width: 100vw;
    height: 5rem;
    justify-content:space-between;
    align-items: center;
    z-index: 2;
    top: 0;
    margin-top: -5rem;
}


.create-header h1 {
    cursor: pointer;
    color: var(--sixth-color);
    margin: 2rem;
    margin-top: 2.2rem;
    transition: all .3s ease-in-out;
}

.create-header-objects > * {
    margin-right: 1rem;
}

.create-button-container {
    background-color: var(--first-color);
    width: 80%;
    max-width: 35rem;
    padding: 1rem;
    padding-left: 7%;
    margin-top: 3rem;
    margin-left: .4rem;
    border-radius: .5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.create-alert {
    color: var(--red);
    font-size: .8rem;
    margin: 1rem;
}



.create-body {
    margin-top: -6rem;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-comment {
    text-align: center;
    font-size: .8rem;
    opacity: .4;
}


.create-error {
    color: var(--red);
    font-size: .8rem;
    margin: 1rem;
}







.create-form-quiz {
    background-color: var(--first-color);
    width: 35rem;
    padding: 1rem;
    margin-top: 3rem;
    border-radius: .5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.create-form-quiz > h3 {
    margin: .5rem;
    text-align: center;
}

.create-form-quiz > input, textarea {
    resize: none;
    margin: 1rem;
    margin-left: 2rem;
    width: 80%;
}

.create-form-quiz > input {
    margin-right: 2rem;
}

.create-form-quiz > button {
    margin: 1rem;
    width: 80%;
}

.quiz-image-preview {
    border-radius: .2rem;
    width: 80%;
    outline: solid var(--third-color);
}







.create-question-box {
    background-color: var(--first-color);
    width: 35rem;
    padding: 1rem;
    margin-top: 3rem;
    border-radius: .5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-question-box > div {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-question-box > h3 {
    margin: .5rem;
    text-align: center;
}

.create-question-box > input, textarea {
    resize: none;
    margin: 1rem;
    margin-left: 2rem;
    width: 80%;
}

.create-question-box > input {
    margin-right: 2rem;
}

.create-question-box > button {
    margin: 1rem;
    width: 80%;
}

.create-question-box > img {
    border-radius: .2rem;
    width: 80%;
    outline: solid var(--third-color);
}

.choice-item {
    outline: .2rem solid var(--third-color);
    width: 80%;
    border-radius: .2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .6rem;
    padding: .6rem;
}

.choice-item > button {
    font-size: .6rem;
    background-color: var(--red);
    outline: none;
    margin-right: 0rem;
}

@media screen and (max-width: 700px) {
      

    .create-header {
        background-color: var(--first-color);
    
        position: fixed;
        display: flex;
        width: 100vw;
        height: 5rem;
        justify-content:space-between;
        align-items: center;
        z-index: 2;
        top: 0;
    }
    
    .create-header h1 {
        cursor: pointer;
        color: var(--sixth-color);
        margin: 2rem;
        margin-left: 1rem;
        margin-top: 2.2rem;
        transition: all .3s ease-in-out;
        font-size: 1rem;
    }
    
    .create-header-objects > * {
        margin-right: 1rem;
    }
    
    .create-button-container {
        display: flex;
        align-items: center;
        margin-right: .4rem;
    }
    
    .create-button-container > button {
        margin: .6rem;
        font-size: .8rem;
    }
    
    .create-body {
        margin-top: -6rem;
        width: 100%;
        height: 100vh;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    
    .create-form-quiz {
        background-color: var(--first-color);
        width: 80vw;
        padding: 1rem;
        margin-top: 3rem;
        border-radius: .5rem;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .create-form-quiz > h3 {
        margin: .5rem;
        text-align: center;
    }
    
    .create-form-quiz > input, textarea {
        resize: none;
        margin: 1rem;
        margin-left: 2rem;
        width: 80%;
    }
    
    .create-form-quiz > input {
        margin-right: 2rem;
    }
    
    .create-form-quiz > button {
        margin: 1rem;
        width: 80%;
    }





    .create-question-box {
        background-color: var(--first-color);
        width: 80vw;
        padding: 1rem;
        margin-top: 3rem;
        border-radius: .5rem;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .create-question-box > div, input, textarea {
        font-size: .8rem;
    }
    
    .create-question-box > h3 {
        margin: .5rem;
        text-align: center;
    }
    
    .create-question-box > input, textarea {
        resize: none;
        margin: 1rem;
        margin-left: 2rem;
        width: 80%;
    }
    
    .create-question-box > input {
        margin-right: 2rem;
    }
    
    .create-question-box > button {
        margin: 1rem;
        width: 80%;
    }



    
    }
        