@import url("auth.css");
@import url("question.css");
@import url("quiz.css");
@import url("auth.css");
@import url("main.css");

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --first-color: #1e1e1e;
    --second-color: #262626;
    --third-color: #363636;
    --fourth-color: #4c4c4c;
    --fifth-color: #595959;
    --sixth-color: #737373;

    --icon-color: #A4A4A4;
    --text-color: #ffffff;
    --blue: #61AFFE;
    --green: #5ED3A3;
    --yellow: #F7A131;
    --red:#F13D3E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* outline: auto; /**/
}

body {
    background-color: var(--second-color);
    color: var(--text-color);

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
  }

header {
    background-color: var(--first-color);

    position: fixed;
    display: flex;
    width: 100vw;
    height: 5rem;
    justify-content:space-between;
    align-items: center;
    z-index: 2;
    top: 0;
}

.header-objects {
    display: flex;
    align-items: center;
}

.user-info {
    margin-top: .6rem;
    margin-right: 2rem;
}

.user-info p {
    text-align: center;
}

#points {
    font-size: .8rem;
    color: var(--sixth-color);
}

header h1{
    cursor: pointer;
    color: var(--sixth-color);
    margin: 2rem;
    margin-top: 2.2rem;
}

button, input {
    background-color: var(--second-color);
    color: var(--text-color);
    outline: .2rem solid var(--third-color);
    border: none;
    padding: .5rem;
    border-radius: .1rem;
    margin-right: 2rem;
    cursor: pointer;
}

button {
    background-color: var(--third-color);
    transition: all .3s ease-in-out;
}

button:hover, input:hover {
    background-color: var(--third-color);
    opacity: .5;
    transition: all .3s ;
}

.search {
    width: 20rem;
    height: 11rem;

    margin-left: auto;
    margin-right: auto;
}

main {
    width: 100vw;
    transition: all .1s;
}

footer {
    background-color: var(--first-color);
    color: var(--fourth-color);

    position: fixed;
    display: flex;
    width: 100vw;
    height: 5rem;
    justify-content: center;
    align-items: center;
    z-index: 2;
    bottom: 0;
}

@media (max-width: 700px) {

    header {
        justify-content: space-between;
    }

    header h1{
        color: var(--sixth-color);
        margin: 2rem;
        margin-top: 2.2rem;
        margin-left: 1rem;
        font-size: 1rem;
    }

    header button {
        margin-right: 2rem;
        width: 4rem;
    }

    header p {
        font-size: .8rem;
    }
    
}

hr {
    width: 100%;
    height: .2rem;
    background-color: var(--third-color);
    border: none;
}

.quiz-controller {
    
    padding: .6rem;
    border-radius: .2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quiz-controller-2 {
    margin-left: 2rem;
}

.quiz-controller button {
    background-color: var(--third-color);
    outline: .2rem solid var(--third-color);
}

.quiz-controller input {
    text-align: center;
    background-color: var(--third-color);
    outline: .2rem solid var(--third-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}