.leaderboard-container {
    margin-top: -12rem;
    max-height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.leaderboard-box {
    background: var(--first-color);
    margin-top: 5rem;
    width: 80vw;
    max-width: 80rem;
    height: 100%;
    border-radius: .5rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.leaderboard-title {
    font-size: 2rem;
    margin: 2rem;
}

.leaderboard-points {
    font-size: 1rem;
    opacity: .5;
}

.leaderboard-controls {
    margin: 1rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.leaderboard-controls > button {
    margin: 1rem;
}

.leaderboard-table {
    border: .5rem solid var(--second-color);
    border-radius: .2rem;

    width: 70vw;
    max-width: 80%;

}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    transition: all 0.3s ease-in-out;

}

@media screen and (max-width: 600px) {
    table {
        font-size: .8rem;
    }
}

tr {
    height: 2.5rem;
    margin: 2rem;
}

tr > * {
    padding: .2rem;
}

th {
    background: var(--second-color);

}

tr:nth-child(even) {
    background: var(--third-color);
}

tr:nth-child(odd) {
    background: var(--fourth-color);
}

