.question-container {
    margin-top: -12rem;
    min-height: 80vh;
    max-height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.question-box {
    background: var(--first-color);
    margin-top: 5rem;
    width: 80%;
    max-height: fit-content;
    border-radius: .5rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.question-image {
    width: fit-content;
    max-width: 80%;
    max-height: 40vh;
    border-radius: .5rem;
    object-fit:scale-down;
}

.question-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: -4rem;
    opacity: .8;
    margin: .8rem;
    text-align: center;
}

.question-controls {
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.question-controls > * {
    margin: .5rem;
}

.question-question {
    font-size: 1.2rem;
    margin: .5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.question-under-text {
    font-size: .8rem;
    opacity: .5;
    text-align: center;
    margin: 2rem;
}

.question-choices {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding-bottom: 2rem;
    margin-top: auto;
}

.question-choices > * {
    margin: .6rem;
}

.correct {
    color: var(--green);
}

.wrong {
    color: var(--red);
}

.continue-button {
    transition: .3s ease-in-out; 
}