.quiz-container {
    background-color: var(--second-color);
    min-height: 100vh;
    width: 100%;
    margin-bottom: 5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.quiz-box {
    opacity: .9;
    outline: .2rem solid var(--second-color);
    background: linear-gradient(var(--fourth-color), var(--second-color));
    width: 10rem;
    height: 16rem;
    margin: 1rem;
    margin-bottom: 5rem;
    border-radius: .1rem;
    transition: .1s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-box img{
    max-height: 10rem;
    min-height: 10rem;
    max-width: 8rem;
    min-width: 8rem;
    object-fit: cover;
    border-radius: .2rem;
    margin: .8rem;
    opacity: .6;
    transition: .1s ease-in-out;
}

.quiz-box img:hover {
    opacity: 1;
    filter: drop-shadow(.2rem .2rem .2rem var(--first-color));
}

.quiz-box:hover {
    opacity: 1;
    filter: drop-shadow(.2rem .2rem .2rem var(--first-color));
}

.quiz-under-text {
    color: var(--fourth-color);
    font-size: .8rem;
}

.quiz-box-empty {
    opacity: .4;
    outline: .2rem solid var(--second-color);
    background: linear-gradient(var(--first-color), var(--second-color));
    width: 10rem;
    height: 16rem;
    margin: 1rem;
    border-radius: .1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-box span {
    display: none; 
    position: absolute; 
    color: #fff; 
    background: var(--first-color); 
    padding: 5px;
    margin-top: 22rem;
}
.quiz-box:hover span {display: block; text-align: center;}
