:root {
--first-color: #1e1e1e;
--second-color: #262626;
--third-color: #363636;
--icon-color: #A4A4A4;
--text-color: #DADADA;

--get: #61AFFE;
--post: #5ED3A3;
--put: #F7A131;
--delete:#F13D3E;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--first-color);
    color: var(--text-color);
}

h1 {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5rem;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
    text-align: left;
    font-size: .8rem;
    line-height: .8rem;
}

tr {
    border-bottom: 1px solid var(--third-color);
    max-height: 100px;
}

tr:nth-child(even) {
    background-color: var(--second-color);
}

th {
    padding: 1rem;
    border: 1px solid var(--third-color);
}

td {
    padding: 1rem;
    border: 1px solid var(--third-color);
}

.table-title {
    background-color: var(--third-color);
    text-align: center;
}

.get {
    color: var(--get);
}

.post {
    color: var(--post);
}

.put  {
    color: var(--put);
}

.delete {
    color: var(--delete);
}

.awnser {
    color: var(--icon-color);
    overflow-y: scroll;
    margin: 0;
    max-height: 5rem;
    padding: 1rem;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }

::-webkit-scrollbar-track {
    border: 1px solid var(--icon-color);
    border-radius: .2rem;
    }